@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: inter;
}

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Miami';
    src: url('../fonts/Miama.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



.bg{
    background-color: #000000d4;
}

header{
    background: 
    linear-gradient(180deg, rgba(17, 17, 17, 1) 0%, rgba(119, 119, 119, 0) 100%);
    justify-content: center;
    display: flex;
}

.container{
    max-width: 946px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav h1{
    
    color: #E6533C;
    font-weight: 800;
    font-style: italic;
    font-size: 2.1rem;
    margin: 25px 0;
}

nav .icon{
    display: none;
}

nav ul{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    margin: 24px 0;
    padding: 0 3px;
    gap: 8px;
}

nav ul li{
    list-style: none;
    padding: 8px 18px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

nav ul li:hover{
    background-color: #E6533C;
    border-radius: 30px;
}

nav .active{
    background-color: #E6533C;
    border-radius: 30px;
}




/* banner style */

.banner{
    display: flex;
}

.banner-content{
    color: white;
    width: 50%;
}

.banner-content h1{
    font-size: 4.6rem;
    font-weight: 900;
    margin: 43px 0 0;
}

.banner-content h1 span{
    font-family: 'miami';
    font-weight: 400;
    font-size: 8.8rem;
    line-height: 0;
}

.banner-content p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 25px 0;
}

button{
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 13px 40px;
    margin-right: 11px;
    border-radius: 42px;
    font-size: 1rem;
}

.btn{
    background-color: #E6533C;
    border: 1px solid #E6533C;
}

button:hover{
    background-color: #E6533C;
    border: 1px solid #E6533C;
}

.banner-pic{
    width: 50%;
    height: 500px;
    text-align: right;
    position: relative;
}

.banner-pic img{
    height: 100%;
}

.banner-pic .video-btn1{
    background: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    width: 206px;
    height: 96px;
    text-align: left;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 71%;
    left: 18%;
}
.banner-pic .video-btn1 .circle{
    background-color: #E6533C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.banner-pic .video-btn1 h4{
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 1px;
}
.banner-pic .video-btn1 p,
.banner-pic .video-btn2 p{
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    margin: 8px 0 0;
    font-weight: 300;
    letter-spacing: 1px;
}

.banner-pic .video-btn2{
    /* background: rgba(255, 255, 255, 0.1); */
    background: rgb(56 55 55 / 73%);
    border: 1px solid rgb(56 55 55 / 73%);;
    color: white;
    width: 180px;
    height: 96px;
    text-align: left;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    position: absolute;
    top: 23%;
    left: 81%;
}

.banner-pic .video-btn2 h4{
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0;
    letter-spacing: 1px;
}





/* habit section style */

.habit-container{
    background-color: black;
    justify-content: center;
    display: flex;
    color: white;
    text-align: center;
    padding: 66px 0 80px;
}

.habit-container h1{
    font-size: 2.4rem;
    margin: 0;
    font-weight: 900;
}

.habit-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    margin-bottom: 70px;
}

.cart-container{
    display: flex;
}

.habit-cart{
    margin: 0 40px;
}

.habit-cart img{
    width: 100%;
    border-radius: 100%;
    border: 4px solid #FFFFFF1A;
}

.habit-cart h4{
    margin: 25px 0 0;
    font-size: 1rem;
}

.habit-cart p{
    margin: 7px 0;
    font-size: 0.8rem;
}




/* run section style */
.run-container{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.run{
    display: flex;
    background-color: #222222;
    border-radius: 20px;
}

.run-content{
    width: 60%;
    padding: 30px;
    padding-top: 60px;
}

.run-content h1{
    font-size: 2.4rem;
    font-weight: 900;
    margin: 0;
}

.run-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin: 15px 106px 25px 0;
}

.run-content .run-btn{
    padding: 9px 46px;
}

.run-img{
    width: 40%;
    height: 280px;
    padding: 30px;
    align-items: center;
    display: flex;
}

.run-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: none;
    object-position: 67% 29%;
}





/* training style */

.training-container{
    background-color: black;
    color: white;
    padding-bottom: 80px;
}


.training-container h1{
    font-size: 2.6rem;
    font-weight: 900;
    margin: 0;
}

.training-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    margin: 15px 0 50px;
}

.train-img1{
    display: grid;
    grid-template-columns: 22% 51% 27%;
    height: 180px;
}

.train-img2{
    display: grid;
    grid-template-columns: 45% 25% 30%;
    height: 180px;
}

.training-content img{
    width: 100%;
    height: 180px;
}

.train-img1 .img1{
    background-color: rgba(6, 255, 210, 0.5);
    background-image: url('../images/exercise1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.train-img1 .img2{
    background-color: rgba(255, 0, 0, 0.3);
    background-image: url('../images/exercise2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.train-img1 .img3{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/exercise3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.train-img2 .img4{
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../images/exercise4.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.train-img2 .img5{
    background-color: rgba(66, 255, 0, 0.3);
    background-image: url('../images/exercise5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.train-img2 .img6{
    background-color: rgba(0, 71, 255, 0.3);
    background-image: url('../images/exercise6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.training-content h4{
    margin: 127px 30px 0;
    font-size: 0.8rem;
    font-weight: 300;
}

.training-content .dif-clr{
    color: black;
}

.training-content h5{
    margin-left: 30px;
    font-size: 0.8rem;
    font-weight: 300;
}

.training-content h3{
    text-align: end;
    margin-right: 30px;
    font-size: 0.8rem;
    font-weight: 300;
}




/* bmi style */

.bmi-container{
    background-color: black;
    color: white;
    padding-bottom: 80px;
}

.bmi{
    max-width: 595px;
    margin: 0 auto;
}

.bmi h1{
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
}

.bmi p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}




/* bmi calculator style */

.bmi-calculator-container{
    background-color: #000000d9;
    color: white;
    padding: 50px 0;
}

.bmi-calculator{
    width: 75%;
    display: flex;
}

.left-bmi{
    width: 40%;
}

.left-bmi h1, .right-bmi h1{
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0 0 40px;
}

.left-bmi table {
    border-collapse: collapse;
}

.left-bmi td, th {
    border: 1px solid #ffffff26;
    padding: 10px 20px;
    font-size: 0.9rem;
}

.left-bmi tbody{
    color: rgba(255, 255, 255, 0.5);
}

.right-bmi{
    width: 60%;
}

.right-bmi h1{
    font-size: 26px;
    margin: 0 0 20px;
} 

.right-bmi p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin: 0;
}

.right-bmi form{
    padding: 30px 0;
}

.right-bmi form input,
.right-bmi form select{
    border: none;
    border-radius: 6px;
    width: 44%;
    padding: 12px 0 12px 15px;
    margin: 5px 5px;
    background-color: #ffffff1c;
}

.right-bmi form input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.right-bmi form select{
    width: 47%;
    color: rgba(255, 255, 255, 0.5);
}

.right-bmi form select option{
    background-color: #171616cf;
}

.right-bmi button{
    padding: 12px 55px;
}




/* team-container style */
.team-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 45px 0 80px;
}

.team-container h1{
    font-size: 2.4rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.team-container p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    margin-bottom: 50px;
}

.team-cart{
    background-color: #f9f6f61f;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.team-cart .team-img{
    height: 250px;
    background-color: #00000047;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
} 

.team-cart .img1{
    background-image: url('../images/trainer1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.team-cart .img2{
    background-image: url('../images/trainer2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.team-cart .img3{
    background-image: url('../images/trainer3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.team-cart .img4{
    background-image: url('../images/trainer4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.team-cart .img5{
    background-image: url('../images/trainer5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}
.team-cart .img6{
    background-image: url('../images/trainer6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.team-cart img{
    width: 100%;
    height: 100%;
}

.team-cart .team-img h3{
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: 900;
}

.team-cart .team-img h5{
    margin: 5px 15px 12px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
}

/* price */

.price-container{
    background-color: black;
    color: white;
    padding: 30px 0 80px;
}

.price-container .cart{
    padding: 40px 0;
}


.price-container .price-cart{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.price-container .cart span{
    background-color: white;
    color: black;
    font-size: 1.2rem;
    padding: 4px 10px;
    font-weight: 800;
}

.price-container .cart h4{
    font-size: 1.6rem;
    margin: 26px 0 20px;
}

.price-container .cart p{
    font-size: 1.1rem;
    margin: 0 18px;
    padding: 0 0 45px;
    color: #f89b8c;
    border-bottom: 1px solid #E6533C;
}


.price-container  ul{
    margin: 32px 0;
    padding: 0;
    font-size: 0.9rem;
    list-style: none;
    text-align: left;
    color: rgb(183 183 183);
} 

.price-container .price-list li{
    padding: 14px 34px;
}

.price-container .price-btn{
    border: none;
    padding: 13px 66px;
    margin-right: 11px;
    border-radius: 0;
    font-size: 0.9rem;
    background-color: #2c2b2bd1;
    color: white;
    border-radius: 42px;
}

.text-color{
    color: white!important;
}

.price-container .best-cart{
    background-color: #E6533C;
}

.price-container .best-cart .price-btn{
    background-color: white;
    color: black;
}



/* footer style */
footer{
    background-color: #000000de;
    color: white;
    padding: 40px 0;
} 

.footer-content{
    display: flex;
}

.footer-content .first{
    width: 60%;
}

.footer-content .first h1{
    font-size: 3.2rem;
    color: #E6533C;
    font-weight: 800;
    font-style: italic;
    margin: 0 0 22px;
}
.footer-content .first p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    padding-right: 53px;
}

.footer-content .first{
    width: 50%;
}

.footer-content .second{
    width: 25%;
}

.footer-content .third{
   width: 25%;
}

.footer-content h2{
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
    padding-bottom: 28px;
 }

.footer-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-content ul li{
    font-size: 1.1rem;
    padding: 7px 0;
    font-weight: 400;
}

footer hr{
    margin-top: 56px;
    margin-bottom: 36px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

footer .reserved{
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}






/* responsive media query */

@media screen and (max-width: 576px){

    .container {
        width: 85%;
    }

    .banner,
    .cart-container,
    .run,
    .bmi-calculator,
    .footer-content
    {
      flex-direction: column;
    }



    nav ul{
        display: none;
    }

    nav .icon{
        display: block;
        color: white;
        font-size: 1.6rem;
        padding-top: 33px;
    }

    .banner-content{
        width: 100%;
    }

    .banner-content h1 {
        font-size: 3rem;
    }

    .banner-content h1 span {
        font-size: 5.8rem;
    }

    .banner-content p {
        font-size: 1.4rem;
    }

    button {
        padding: 13px 22px;
    }

    .banner-pic {
        width: 100%;
        height: 600px;
        padding-top: 50px;
    }

    
    .banner-pic .video-btn1 {
        top: 47%;
        left: 0%;
        width: 168px;
    }

    .banner-pic .video-btn2 {
        top: 18%;
        left: 59%;
        width: 146px;
    }

    .banner-pic .video-btn1 p,
    .banner-pic .video-btn2 p {
        font-size: 0.9rem;
        letter-spacing: 0px;
    }

    .habit-container h1 {
        font-size: 36px;
    }

    .habit-cart {
        padding-bottom: 20px;
    }

    /* run */
    .run-content {
        width: 80%;
    }

    .run-content p {
        margin: 15px 0 25px 0;
    }

    .run-content .run-btn {
        width: 100%;
        padding: 16px 0;
    }

    .run-img {
        width: 80%;
    }

    /* training */

    .training-container h1 {
        font-size: 2.2rem;
    }

    .img-display{
        display: none !important;
    }

    .train-img1 {
        grid-template-columns: 49% 51%;
    }
    .train-img2 {
        grid-template-columns: 45% 55%;
    }

    /* bmi */

    .bmi {
        max-width: 75%;
    }

    .bmi h1 {
        font-size: 2.5rem;
    }

    /* bmi calculator */
    .left-bmi {
        width: 100%;
    }

    .right-bmi {
        width: 100%;
    }

    .right-bmi h1 {
        margin-top: 40px;
    }

    
    .right-bmi form input{
        width: 90%;
    }

    .right-bmi form select {
        width: 95%;
    }

    /* team */
    .team-cart {
     grid-template-columns: repeat(1, 1fr);
    }

    /* price */

    .price-container .price-cart{
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer */

    .footer-content .first,
    .footer-content .second,
    .footer-content .third
    {
        width: 100%;
    }
    
    .footer-content h2 {
        padding: 16px 0;
    }

    .footer-content .first p {
        padding-right: 0;
    }
 
}
